body {
  background-color: #00005c;
  text-align: center;
  color: #ffdcb4;
}

.container {
  padding: 5% 10% 0;
}

h4 {
  margin-top: 50px;
}

p {
    color: #fff;
}

ul {
  text-align: left;
  color: #fff;
}

form {
  margin: 50px 0 ;
}

.btn {
  background-color: #c060a1;
  color: #fff;
}

.btn:hover {
  color: #6a097d;
}
